/* Validated with http://jigsaw.w3.org/css-validator/ */
body { 
    font-family: "Arial", "Helvetica", "MS Sans Serif", sans-serif;
    font-size: 13px;
    line-height: 1.4;
    color: #7FFFD4;
    background: #7FFFD4;
    margin: 0px;
    padding: 0px;
}

table {
    font-size: 13px;
}

a:link      { text-decoration: none; color: #006699; }
a:visited   { text-decoration: none; color: #006699; }   
a:active    { text-decoration: none }
a:hover     { text-decoration: underline; }

td {
    padding: 2px;
}

tr.alt {
    background: #F8F8F8;
}

tr.bugrow:hover {
    background: #ccffcc;
    cursor: pointer;
}	

th {
    padding: 2px;
    background-color: #7FFFD4;
}

th.selected {
    font-weight: bold; 
    text-align: center;
    background-color: #ffc;
    font-style: italic;
}

select {
    font-size: 12px;
    border: 1px solid #dddddd;
    padding: 2px 4px;
}

input {
    font-size: 12px;
    border: 1px solid #dddddd;
    padding: 2px 4px;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] {
    -moz-appearance: button;  /* ? */
    padding: 3px 5px;
    margin: 2px;
    -webkit-border-radius: 2px 2px;
    border: solid 1px rgb(153, 153, 153);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
    color: #333;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    line-height: 1;
}

input[type="file"] {
    font-size: 12px;
}

textarea {
    font-size: 12px;
    border: 1px solid #dddddd;
}

div.FixedWidth {
    width: 960px;
    margin: 0 auto;
}

.banner { 
    text-align: center; 
    font-weight: bold;
    padding: 1.5em;
    font-size: 16px;
}

.error {
    text-align: center;
    font-weight: bold;
    color: #ff0000;
    padding-bottom: 0.1em;
    font-size: 150%;
}

.result {
    text-align: center;
    font-weight: bold;
    color: #0000ff;
    padding-bottom: 0.1em;
}


div.NavBar {
    background-color: #F8F8F8;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    box-shadow: 0 -1px 0 white inset;
    /* min-height: 160px; */
    overflow: hidden;
}

div.PhpBugTracker {
    margin-top: 8px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #444;
    text-shadow: 0px 1px 2px #a8a8a8;
}
.UpdateNotifier {
    background-color: #ffc;
    text-align: center;
    padding: 4px;
}

.nav {
    vertical-align: middle;
    /* color: #ffffff; */
    font-family: "Arial", sans-serif;
    font-size: 16px;
    /* font-weight: bold; */
}

.bottomnavinput {
    vertical-align: middle;
    color: #000000;
    font-family: "Arial", sans-serif;
    font-size: 10px;
}

.maincontent {
    vertical-align: top;
    background: #ffffff;
    color: #000000;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    padding: 5px;
}

.info {
    font-size: 10px;
    color: #000000;
    background:  #eeeeee;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    border-style: solid;
    padding: 5px;
    text-align: center;
}

.header-col { font-weight: bold; }
.center-col { text-align: center; }

/*
.bordertable {
    width: 90%;
}
*/

.bordertable, .bordertable td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.bordertable td {
    padding: 2px 4px;
}

.pagination {
    padding: 5px;
}

a.closed_bug_number { 
    text-decoration: line-through;
}

.header_image {
    /* height: 55px; */
}

.header_line1 {
    position: relative;
}

.header_search {
    position: absolute;
    top: 10px;
    right: 0px;
    height: 40px;
    color: #666;
    font-weight: bold;
}

.tabnav {
    height: 22px;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}

.tabnav li {
    margin: 0; 
    padding: 0;
    display: inline;
    list-style-type: none;
}

.tabnav a:link, .tabnav a:visited {
    float: left;
    font-size: 12px;
    /* line-height: 14px; */
    font-weight: bold;
    padding: 2px 5px 2px 0px;
    margin-right: 4px;
    /* border-left: 1px solid #000; */
    text-decoration: none;
    color: #444444;
}

.tabnav a:hover {
    text-decoration: underline;
}

.personalarea {
    background-color: #fafafa;
    font-size: 11px;
    font-weight: normal;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 6px;
    padding: 4px;
}

.nowrap {
    white-space: nowrap;
}

